.flex{
    display:flex;
    flex-wrap: wrap;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

/*Largeurs et colonnes*/
//$gutter: 16px;

@function large($i){
  @return calc((100% / (12 / $i)) - (((12 / $i) - 1) * var(--gutter)) / (12 / $i)); 
}


@mixin largeur-modifier {
  @for $i from 1 to 13{
    &-#{$i}{
      width : large($i);
    }
  }
}

/*Generation des classes pour la largeur des colonnes selon 
les resolutions d'ecrans*/

/*Desktop*/
.large{
  @include largeur-modifier;
}

/*Tablets*/
@media all and (max-width : 700px){
  .medium{
    @include largeur-modifier;
  }
}

/*Smartphones*/
@media all and (max-width : 400px){
  .small{
    @include largeur-modifier;
  }
}