*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container{
    width : 300px;
    position: relative;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.active-slide{
    opacity: 1;
}
.static{
    position: static;
}

.fleche{
    width: 32px;
    height: 32px;
    background-image: url('../img/fleche.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter:invert();
    cursor: pointer;
}

.fleche-droite{
    transform: rotate(180deg);
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}