
:root{
    // Trouve une solution autre !  
    --primary : rgb(48, 168, 224);
    --primary-hover : rgb(14, 94, 131);
    --secondary: rgb(154, 75, 237);
    --secondary-hover: rgb(97, 22, 177);
    --danger : rgb(228, 109, 109);
    --danger-hover: rgb(228, 109, 109);
    --success: rgb(103, 214, 103);
    --danger-hover: rgb(17, 103, 17);

    --gutter: 16px;

    --radius-outer : 24px;
    --radius-inner : 12px; 
}
